<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <form action="/logout">
            <h3>Logout</h3>
            <button type="submit">Wassup <%=name%> Homie I think it's time to say Goodbie Logout</button>
        </form>
    </main>
</body>
</html>